.info-bar {
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  overflow-y: auto;
}

.info-bar .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info-bar .button {
  text-align: center;
  margin: 15px 30px;
  width: 50%;
  background-color: #EDF0DA;
}

.info-bar .button:hover {
  cursor: pointer;
}

.info-bar .text {
  padding: 0;
  margin: 0;
  font-size: 1.5em;
  padding: 10px 0px;
}

.info-bar .buttons .run {
  transition: border-bottom 0.25s ease;
  border-bottom: 5px solid transparent;
  color: green;
}

.info-bar .buttons .run:hover {
  border-bottom: 5px solid green;
}

.info-bar .buttons .clear {
  transition: border-bottom 0.25s ease;
  border-bottom: 5px solid transparent;
  color: #AA4465;
}

.info-bar .buttons .clear:hover {
  border-bottom: 5px solid #AA4465;
}

.info-bar .samples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.info-bar .description {
  width: 90%;
  text-align: left;
  padding: 10px 40px 50px 40px;
}

.info-bar .description .heading {
  font-size: 1.4em;
  font-weight: bold;
}

.info-bar .description .text {
  font-size: 1.2em;
}

.info-bar .description ul {
  font-size: 1.2em;
}

.info-bar .description .sample {
  margin: 8px 0px;
  width: 50%;
}

.info-bar .sample-text {
  padding: 10px 10px;
  transition: border-bottom 0.25s ease;
  border-bottom: 5px solid transparent;
  color: #000000;
}

.info-bar .sample-text:hover {
  border-bottom: 5px solid #000000;
}

.info-bar .code {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #FFF7F1;
  color: #AA4465;
  padding: 1%;
}